.Portfolio {
    font-family: Helvetica;
    background-color: gray;
    color: white;
    font-size: 32px;
    padding: 5px;
    justify-content: space-between;
    flex-direction: row;
}


img {
    width: 1000px;
}

.Hobbies {
font-family: Helvetica;
    background-color: purple;
    color: black;
    font-size: 48px;
    padding: 5px;
    justify-content: center;
    flex-direction: row;
}

.Education {
font-family: Helvetica;
    background-color: red;
    color: black;
    font-size: 48px;
    padding: 5px;
    justify-content: center;
    flex-direction: row;
}

.Experiences {
font-family: Helvetica;
    background-color: green;
    color: black;
    font-size: 48px;
    padding: 5px;
    justify-content: flex-end;
    flex-direction: row;
}

.Favorites {
font-family: Helvetica;
    background-color: Yellow;
    color: black;
    font-size: 48px;
    padding: 5px;
    justify-content: flex-end;
    flex-direction: row;
}

h12 {
    font-family: Helvetica;
    background-color: White;
    color: black;
    font-size: 48px;
    padding: 5px;
    justify-content: center;
    flex-direction: row-reverse;
}

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i');
/* font-family: 'IBM Plex Serif', serif; */
/* font-family: 'IBM Plex Sans', sans-serif; */

body {
  margin: 0;
}

h1,
button {
  font-family: 'IBM Plex Serif', serif;
}

p,
label,
input {
  font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
  font-size: 50px;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main_title {
  height: 50px;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adlib {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.adlib label {
  margin-right: 10px;
  text-transform: uppercase;
}

.adlib input {
  flex: 1;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #2989d8;
  caret-color: #2989d8;
  text-align: center;
  font-size: 16px;
}

input:focus {
  outline: none;
}

button {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 10px 18px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: bold;
  color: #2eb951;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  transition: all 0.5s;
  border-color: #2989d8;
  background-color: #2989d8;
}

button:hover {
  border-color: #c80a00;
  background: #c80a00;
  box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.8);
}

.top-button {
font-family: Helvetica;
    background-color: White;
    color: black;
    font-size: 48px;
    padding: 5px;
    justify-content: center;
    flex-direction: row-reverse;
}